<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzq.scan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name=".ui.ScanActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>
